.header {
  background-color: var(--dark);
  position: relative;
}

.navbar {
  background-color: inherit;
  display: flex;
  justify-content: center;
  column-gap: 36px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}

.navbar a {
  color: var(--white);
  min-width: 80px;
  font-size: 1.25rem;
  font-family: "Eczar", sans-serif;
  text-align: center;
}

.headerImage {
  max-height: 600px;
  margin: 0 auto;
  object-fit: cover;
  object-position: 50% 20%;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 660px) {
  .navbar a {
    min-width: 0;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 16px;
  }
}

@media screen and (max-width: 728px) {
  /* .slideDown {
    padding-top: 32px;
  } */
  .headerImage {
    min-height: 200px;
  }
}
