.product {
  flex-grow: 1;
  display: flex;
  width: 425px;
  max-width: 600px;
  border-radius: 4px;
  border: solid 1px #1632652c;
  box-shadow: 2px 3px 15px 1px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}

.productImg {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.productDetails {
  border-radius: inherit;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.288);
}

.productHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productTitle {
  font-weight: 500;
  display: inline-block;
}

.oneClickBuy {
  padding: 4px;
  border-radius: 16px;
  display: flex;
  background-color: var(--dark);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.oneClickBuy svg:first-child {
  margin-right: -4px;
}

.productPrice {
  color: var(--white);
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
  font-size: 0.95rem;
  font-family: "Eczar", sans-serif;
}

.priceBubble {
  background-color: var(--dark);
  color: var(--white);
  width: 105px;
  height: 100px;
  position: absolute;
  top: -50px;
  right: -50px;
  border-radius: 50%;
  border: solid 4px var(--hl);
}

.reviews {
  margin-top: 4px;
  margin-bottom: 12px;
}

.stars {
  letter-spacing: 2px;
  filter: saturate(2.5);
}

.addToCart {
  display: flex;
  height: 40px;
}

.quantity {
  border-radius: 0;
  border: none;
  flex-basis: 20%;
  min-width: 0;
}

.addBtn {
  flex-grow: 1;
  flex-basis: 70%;
}

.checkmark {
  position: relative;
  top: 2px;
  height: 20px;
  -webkit-tap-highlight-color: transparent;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

@media screen and (max-width: 500px) {
  .product {
    width: 100%;
  }
}

@media only screen and (min-width: 501px) {
  .textContainer {
    height: 50%;
    margin-top: 0;
  }

  .product {
    flex-direction: row;
    min-height: unset;
    min-width: 435px;
    height: 204px;
  }

  .productImg {
    flex-basis: 40%;
  }

  .oneClickBuy {
    position: absolute;
    left: 8px;
  }

  .oneClickBuy svg {
    height: 18px;
    width: auto;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
